@font-face {
    font-family: 'Core Sans D 65';
    src: url('CoreSansD65Heavy-Italic.eot');
    src: url('CoreSansD65Heavy-Italic.eot?#iefix') format('embedded-opentype'),
        url('CoreSansD65Heavy-Italic.woff2') format('woff2'),
        url('CoreSansD65Heavy-Italic.woff') format('woff'),
        url('CoreSansD65Heavy-Italic.ttf') format('truetype'),
        url('CoreSansD65Heavy-Italic.svg#CoreSansD65Heavy-Italic') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Core Sans D 35';
    src: url('CoreSansD35Regular-Italic.eot');
    src: url('CoreSansD35Regular-Italic.eot?#iefix') format('embedded-opentype'),
        url('CoreSansD35Regular-Italic.woff2') format('woff2'),
        url('CoreSansD35Regular-Italic.woff') format('woff'),
        url('CoreSansD35Regular-Italic.ttf') format('truetype'),
        url('CoreSansD35Regular-Italic.svg#CoreSansD35Regular-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Core Sans D 35';
    src: url('CoreSansD35Regular.eot');
    src: url('CoreSansD35Regular.eot?#iefix') format('embedded-opentype'),
        url('CoreSansD35Regular.woff2') format('woff2'),
        url('CoreSansD35Regular.woff') format('woff'),
        url('CoreSansD35Regular.ttf') format('truetype'),
        url('CoreSansD35Regular.svg#CoreSansD35Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Core Sans D 25';
    src: url('CoreSansD25Light-Italic.eot');
    src: url('CoreSansD25Light-Italic.eot?#iefix') format('embedded-opentype'),
        url('CoreSansD25Light-Italic.woff2') format('woff2'),
        url('CoreSansD25Light-Italic.woff') format('woff'),
        url('CoreSansD25Light-Italic.ttf') format('truetype'),
        url('CoreSansD25Light-Italic.svg#CoreSansD25Light-Italic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Core Sans D 27 Cn';
    src: url('CoreSansD27CnLight-Italic.eot');
    src: url('CoreSansD27CnLight-Italic.eot?#iefix') format('embedded-opentype'),
        url('CoreSansD27CnLight-Italic.woff2') format('woff2'),
        url('CoreSansD27CnLight-Italic.woff') format('woff'),
        url('CoreSansD27CnLight-Italic.ttf') format('truetype'),
        url('CoreSansD27CnLight-Italic.svg#CoreSansD27CnLight-Italic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Core Sans D 55';
    src: url('CoreSansD55Bold.eot');
    src: url('CoreSansD55Bold.eot?#iefix') format('embedded-opentype'),
        url('CoreSansD55Bold.woff2') format('woff2'),
        url('CoreSansD55Bold.woff') format('woff'),
        url('CoreSansD55Bold.ttf') format('truetype'),
        url('CoreSansD55Bold.svg#CoreSansD55Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Core Sans D 57 Cn';
    src: url('CoreSansD57CnBold.eot');
    src: url('CoreSansD57CnBold.eot?#iefix') format('embedded-opentype'),
        url('CoreSansD57CnBold.woff2') format('woff2'),
        url('CoreSansD57CnBold.woff') format('woff'),
        url('CoreSansD57CnBold.ttf') format('truetype'),
        url('CoreSansD57CnBold.svg#CoreSansD57CnBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Core Sans D 67 Cn';
    src: url('CoreSansD67CnHeavy.eot');
    src: url('CoreSansD67CnHeavy.eot?#iefix') format('embedded-opentype'),
        url('CoreSansD67CnHeavy.woff2') format('woff2'),
        url('CoreSansD67CnHeavy.woff') format('woff'),
        url('CoreSansD67CnHeavy.ttf') format('truetype'),
        url('CoreSansD67CnHeavy.svg#CoreSansD67CnHeavy') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Core Sans D 15';
    src: url('CoreSansD15Thin-Italic.eot');
    src: url('CoreSansD15Thin-Italic.eot?#iefix') format('embedded-opentype'),
        url('CoreSansD15Thin-Italic.woff2') format('woff2'),
        url('CoreSansD15Thin-Italic.woff') format('woff'),
        url('CoreSansD15Thin-Italic.ttf') format('truetype'),
        url('CoreSansD15Thin-Italic.svg#CoreSansD15Thin-Italic') format('svg');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Core Sans D 75';
    src: url('CoreSansD75Black-Italic.eot');
    src: url('CoreSansD75Black-Italic.eot?#iefix') format('embedded-opentype'),
        url('CoreSansD75Black-Italic.woff2') format('woff2'),
        url('CoreSansD75Black-Italic.woff') format('woff'),
        url('CoreSansD75Black-Italic.ttf') format('truetype'),
        url('CoreSansD75Black-Italic.svg#CoreSansD75Black-Italic') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Core Sans D 77 Cn';
    src: url('CoreSansD77CnBlack.eot');
    src: url('CoreSansD77CnBlack.eot?#iefix') format('embedded-opentype'),
        url('CoreSansD77CnBlack.woff2') format('woff2'),
        url('CoreSansD77CnBlack.woff') format('woff'),
        url('CoreSansD77CnBlack.ttf') format('truetype'),
        url('CoreSansD77CnBlack.svg#CoreSansD77CnBlack') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Core Sans D 17 Cn';
    src: url('CoreSansD17CnThin-Italic.eot');
    src: url('CoreSansD17CnThin-Italic.eot?#iefix') format('embedded-opentype'),
        url('CoreSansD17CnThin-Italic.woff2') format('woff2'),
        url('CoreSansD17CnThin-Italic.woff') format('woff'),
        url('CoreSansD17CnThin-Italic.ttf') format('truetype'),
        url('CoreSansD17CnThin-Italic.svg#CoreSansD17CnThin-Italic') format('svg');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Core Sans D 47 Cn';
    src: url('CoreSansD47CnMedium-Italic.eot');
    src: url('CoreSansD47CnMedium-Italic.eot?#iefix') format('embedded-opentype'),
        url('CoreSansD47CnMedium-Italic.woff2') format('woff2'),
        url('CoreSansD47CnMedium-Italic.woff') format('woff'),
        url('CoreSansD47CnMedium-Italic.ttf') format('truetype'),
        url('CoreSansD47CnMedium-Italic.svg#CoreSansD47CnMedium-Italic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Core Sans D 45';
    src: url('CoreSansD45Medium.eot');
    src: url('CoreSansD45Medium.eot?#iefix') format('embedded-opentype'),
        url('CoreSansD45Medium.woff2') format('woff2'),
        url('CoreSansD45Medium.woff') format('woff'),
        url('CoreSansD45Medium.ttf') format('truetype'),
        url('CoreSansD45Medium.svg#CoreSansD45Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Core Sans D 27 Cn';
    src: url('CoreSansD27CnLight.eot');
    src: url('CoreSansD27CnLight.eot?#iefix') format('embedded-opentype'),
        url('CoreSansD27CnLight.woff2') format('woff2'),
        url('CoreSansD27CnLight.woff') format('woff'),
        url('CoreSansD27CnLight.ttf') format('truetype'),
        url('CoreSansD27CnLight.svg#CoreSansD27CnLight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Core Sans D 47 Cn';
    src: url('CoreSansD47CnMedium.eot');
    src: url('CoreSansD47CnMedium.eot?#iefix') format('embedded-opentype'),
        url('CoreSansD47CnMedium.woff2') format('woff2'),
        url('CoreSansD47CnMedium.woff') format('woff'),
        url('CoreSansD47CnMedium.ttf') format('truetype'),
        url('CoreSansD47CnMedium.svg#CoreSansD47CnMedium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Core Sans D 57 Cn';
    src: url('CoreSansD57CnBold-Italic.eot');
    src: url('CoreSansD57CnBold-Italic.eot?#iefix') format('embedded-opentype'),
        url('CoreSansD57CnBold-Italic.woff2') format('woff2'),
        url('CoreSansD57CnBold-Italic.woff') format('woff'),
        url('CoreSansD57CnBold-Italic.ttf') format('truetype'),
        url('CoreSansD57CnBold-Italic.svg#CoreSansD57CnBold-Italic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Core Sans D 45';
    src: url('CoreSansD45Medium-Italic.eot');
    src: url('CoreSansD45Medium-Italic.eot?#iefix') format('embedded-opentype'),
        url('CoreSansD45Medium-Italic.woff2') format('woff2'),
        url('CoreSansD45Medium-Italic.woff') format('woff'),
        url('CoreSansD45Medium-Italic.ttf') format('truetype'),
        url('CoreSansD45Medium-Italic.svg#CoreSansD45Medium-Italic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Core Sans D 37 Cn';
    src: url('CoreSansD37CnRegular-Italic.eot');
    src: url('CoreSansD37CnRegular-Italic.eot?#iefix') format('embedded-opentype'),
        url('CoreSansD37CnRegular-Italic.woff2') format('woff2'),
        url('CoreSansD37CnRegular-Italic.woff') format('woff'),
        url('CoreSansD37CnRegular-Italic.ttf') format('truetype'),
        url('CoreSansD37CnRegular-Italic.svg#CoreSansD37CnRegular-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Core Sans D 25';
    src: url('CoreSansD25Light.eot');
    src: url('CoreSansD25Light.eot?#iefix') format('embedded-opentype'),
        url('CoreSansD25Light.woff2') format('woff2'),
        url('CoreSansD25Light.woff') format('woff'),
        url('CoreSansD25Light.ttf') format('truetype'),
        url('CoreSansD25Light.svg#CoreSansD25Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Core Sans D 55';
    src: url('CoreSansD55Bold-Italic.eot');
    src: url('CoreSansD55Bold-Italic.eot?#iefix') format('embedded-opentype'),
        url('CoreSansD55Bold-Italic.woff2') format('woff2'),
        url('CoreSansD55Bold-Italic.woff') format('woff'),
        url('CoreSansD55Bold-Italic.ttf') format('truetype'),
        url('CoreSansD55Bold-Italic.svg#CoreSansD55Bold-Italic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Core Sans D 67 Cn';
    src: url('CoreSansD67CnHeavy-Italic.eot');
    src: url('CoreSansD67CnHeavy-Italic.eot?#iefix') format('embedded-opentype'),
        url('CoreSansD67CnHeavy-Italic.woff2') format('woff2'),
        url('CoreSansD67CnHeavy-Italic.woff') format('woff'),
        url('CoreSansD67CnHeavy-Italic.ttf') format('truetype'),
        url('CoreSansD67CnHeavy-Italic.svg#CoreSansD67CnHeavy-Italic') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Core Sans D 75';
    src: url('CoreSansD75Black.eot');
    src: url('CoreSansD75Black.eot?#iefix') format('embedded-opentype'),
        url('CoreSansD75Black.woff2') format('woff2'),
        url('CoreSansD75Black.woff') format('woff'),
        url('CoreSansD75Black.ttf') format('truetype'),
        url('CoreSansD75Black.svg#CoreSansD75Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Core Sans D 17 Cn';
    src: url('CoreSansD17CnThin.eot');
    src: url('CoreSansD17CnThin.eot?#iefix') format('embedded-opentype'),
        url('CoreSansD17CnThin.woff2') format('woff2'),
        url('CoreSansD17CnThin.woff') format('woff'),
        url('CoreSansD17CnThin.ttf') format('truetype'),
        url('CoreSansD17CnThin.svg#CoreSansD17CnThin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Core Sans D 15';
    src: url('CoreSansD15Thin.eot');
    src: url('CoreSansD15Thin.eot?#iefix') format('embedded-opentype'),
        url('CoreSansD15Thin.woff2') format('woff2'),
        url('CoreSansD15Thin.woff') format('woff'),
        url('CoreSansD15Thin.ttf') format('truetype'),
        url('CoreSansD15Thin.svg#CoreSansD15Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Core Sans D 37 Cn';
    src: url('CoreSansD37CnRegular.eot');
    src: url('CoreSansD37CnRegular.eot?#iefix') format('embedded-opentype'),
        url('CoreSansD37CnRegular.woff2') format('woff2'),
        url('CoreSansD37CnRegular.woff') format('woff'),
        url('CoreSansD37CnRegular.ttf') format('truetype'),
        url('CoreSansD37CnRegular.svg#CoreSansD37CnRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Core Sans D 77 Cn';
    src: url('CoreSansD77CnBlack-Italic.eot');
    src: url('CoreSansD77CnBlack-Italic.eot?#iefix') format('embedded-opentype'),
        url('CoreSansD77CnBlack-Italic.woff2') format('woff2'),
        url('CoreSansD77CnBlack-Italic.woff') format('woff'),
        url('CoreSansD77CnBlack-Italic.ttf') format('truetype'),
        url('CoreSansD77CnBlack-Italic.svg#CoreSansD77CnBlack-Italic') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Core Sans D 65';
    src: url('CoreSansD65Heavy.eot');
    src: url('CoreSansD65Heavy.eot?#iefix') format('embedded-opentype'),
        url('CoreSansD65Heavy.woff2') format('woff2'),
        url('CoreSansD65Heavy.woff') format('woff'),
        url('CoreSansD65Heavy.ttf') format('truetype'),
        url('CoreSansD65Heavy.svg#CoreSansD65Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
}

